.calendar {
  width: 34rem;
  height: 30rem;
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 0.75rem;
  display: grid;
  justify-items: center;
}

.selectDate {
  font-size: 0.75rem;
}

.currentDate {
  font-size: 1rem;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  padding: 1.5rem 1rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.month {
  font-weight: 500;
  text-align: center;
}

.separator {
  width: 31rem;
  height: 1px;
  background-color: var(--color-white);

}

.dateAndArrows {
  width: 34rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.weekdays {
  width: 34rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 0.9rem;
  color: #888;
  justify-items: center;
  box-shadow: none;
}

.weekday {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  padding: 0.7rem;
  justify-items: center;
  width: 100%;
  box-shadow: none;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #65558f63;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #65558f;
  }
}

.day.selected {
  background-color: #65558f;
  color: var(--color-white);
}

.monthYearDropdown select {
  background-color: transparent;
  color: var(--color-white);
  padding: 0.5rem;
  font-size: 1rem;
  position: relative;
  padding-right: 2rem;
}

.monthYearDropdown select:focus {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.monthYearDropdown option {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0.5rem;
}

.monthYearDropdown option:hover {
  background-color: var(--color-red);
}

.monthYearDropdown select::-webkit-calendar-picker-indicator {
  background: transparent;
  border: none;
  color: var(--color-white);
}